{% extends 'base.html.twig' %}

{% block body %}
    <!-- Normativa section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>NORMAS del IANCA</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p><b>A continuación se detallan los documentos del IANCA y a los que se puede acceder libremente:</b></p>
                    <ul class="about-list" style="margin-left:20px">
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'estatuto-social'}) }}">
                                Estatuto Social
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'codigo-etica-negociacion'}) }}">
                                 Código de Ética de Negociación
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'codigo-etica-terciacion'}) }}">
                                Código de Ética de Terciación
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'codigo-etica-negociacion-crisis'}) }}">
                                Código de Ética de Negociación de Crisis
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'reglamento-terciacion'}) }}">
                                Reglamento de Terciación
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'reglamento-negociacion-crisis'}) }}">
                                Reglamento de Negociación de Crisis
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'norma-dialogo-mediacion'}) }}">
                                Norma de Diálogo en Mediación
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'registro-negociadores-crisis'}) }}">
                                Registro de Negociadores de Crisis
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'registro-profesional'}) }}">Registro Profesional</a> (Negociación, Mediación, Arbitraje, Probation, Seguridad personal y Experticia)
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'criterios-basicos-financiero'}) }}">
                                Criterios básicos aplicados a transacciones financieras
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'pautas-organizacion-congresos'}) }}">
                                Pautas de Organización de Congresos
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'reglamento-premios-anuales'}) }}">
                                Reglamento de Premios Anuales
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <a href="{{ path('normativa', {'normativa':'reglamento-asociados'}) }}">
                                Reglamento de Asociados
                            </a>
                        </li>
                    </ul>
                    <p>Las normas referidas a Administración de Crisis han sido aprobadas en forma conjunta por el IANCA y por Proteger, y el Reglamento de Premios Anuales conjuntamente con la AIAP Asociación Internacional de Abogacía Preventiva.</p>
                </div>
            </div>
            <hr>
            <div class="section-title text-center">
				<h3>NORMAS ESTATALES</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <ul class="about-list" style="margin-left:20px">
                        <li>
                            <i class="fa fa-check-square-o"></i>
							Ley Nacional de Mediación (.doc)
							<a href="{{ asset('files/Ley25589.doc') }}" target="_blank"><i class="fa fa-download fa-lg"></i></a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Decreto Reglamentario de Ley Nacional de Mediación
							<a href="{{ asset('files/Decreto1467de11.doc') }}" target="_blank"><i class="fa fa-download fa-lg"></i></a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Ley de Mediación de la Provincia de Buenos Aires
							<a href="{{ asset('files/Ley13951.doc') }}" target="_blank"><i class="fa fa-download fa-lg"></i></a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Decreto Reglamentario de la Ley de Mediación de la Provincia de Buenos Aires
							<a href="{{ asset('files/Dec2530de10.doc') }}" target="_blank"><i class="fa fa-download fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
	</section>
	<!-- Normativa section end-->
{% endblock %}
