{% extends 'base.html.twig' %}

{% block body %}
    <!-- Publicaciones section -->
    <section class="full-courses-section spad pt-0">
        <div class="container">
            <div class="section-title text-center">
                <h3>PRODUCCIÓN DOCTRINARIA</h3>
            </div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>Una cuestión destacada reside en que los integrantes de esta entidad, desde 1994, continúan un proceso de elaboración de una <b>"Colección de Negociación y Terciación"</b>, y otra <b>"Rehabilitación Social y Seguridad"</b> con Ediciones Master. Además de otras obras publicadas con otras editoriales.</p>
                    <p>La mayoría de las obras están editada en "Compact Disk", lo que significa una ventaja en cuanto a dos aspectos fundamentales: 1º) Que los libros están en permanente revisión y actualización, con lo cual son permanentemente editados y modificados, 2º) El formato digital permite extraer partes de los mismos directamente, tema que es fundamental cuando se necesitan usar formularios de los mismos.</p>
                    <p>Está previsto que la primera colección cuente con unos cuarenta tomos, cómo mínimo, y la segunda una docena abarcando distintos aspectos de las temáticas. Hasta el momento ya fueron publicados los siguientes libros:</p>
                </div>
    		</div>
            <br>
            <div class="row">
                <!-- publicacion item -->
                {% for publicacion in publicacionesArray %}
                    <div class="col-lg-4 col-md-6 course-item">
                        <div class="course-thumb">
                            <a href="{{ path('publicacion', {'id':publicacion.id}) }}">
                            {% if publicacion.imagen %}
                                <img src="{{ asset('img/uploads/publicaciones_imagenes/' ~ publicacion.imagen) }}">
                            {% else %}
                                <img src="{{ asset('img/publicacion-default.jpg') }}">
                            {% endif %}
                            </a>
                            <div class="course-cat">
                                <span>{{ publicacion.obra }}</span>
                            </div>
                        </div>
                        <div class="course-info">
                            <h5>{{ publicacion.descripcionCorta }}</h5>
                            <div class="date"><u>Autores</u>: {{ publicacion.autores }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    	</div>
    </section>
    <!-- Courses section end-->
{% endblock %}
