{% extends 'base.html.twig' %}

{% block body %}
    <!-- Actividades section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Actividades</h3>
			</div>
			<div class="row">
				<div class="col-lg-12 about-text">
					<div style="overflow-x:auto;">
						<table border="1" cellspacing="2" cellpadding="5">
							<tr>
								<th style="background-color:LightGrey;width:50%" rowspan="2"> Actividades </th>
								<th style="background-color:LightGrey" colspan="3"> Cursos Oficiales </th>
								<th style="background-color:LightGrey" rowspan="2"> Horas </th>
							</tr>
							<tr>
								<th style="background-color:LightGrey"> Ministerio de Justicia Nación </th>
								<th style="background-color:LightGrey"> Ministerio Educación (CABA) </th>
								<th style="background-color:LightGrey"> CUIDI </th>
							</tr>

	                        {% for curso in cursosArray %}
								<tr>
									<td><a href="{{ path('curso', {'id':curso.id}) }}">{{ curso.nombre }}</a></td>
									<td>{% if curso.mjn != null %}{{curso.mjn}} certificado{% if curso.mjn > 1 %}s{% endif %}{% endif %}</td>
									<td>{% if curso.mecaba != null %}{{curso.mecaba}} título{% if curso.mecaba > 1 %}s{% endif %} opcional{% if curso.mecaba > 1 %}es{% endif %}{% endif %}</td>
									<td>{% if curso.cuidi != null %}Certificado{% endif %}</td>
									<td>{{ curso.horas }}</td>
								</tr>
	                        {% endfor %}

						</table>
					</div>
					<br>
					<p><b>Aclaraciones:</b>
					<br>Dada la problemática mundial de la pandemia las actividades se dictarán en forma virtual.</p>
					<ol class="about-list" style="font-size:12px;margin-left:20px">
						<li>
				            Es una de las materias integrantes del Curso de Postgrado de Gestión y Administración de Conflictos.
				        </li>
						<li>
				            Completando horas de presencia física obtiene el título de Mediador Oficial.
				        </li>
						<li>
				            Asigna puntaje docente, el certificado se entrega legalizado en el Ministerio de Educación de la Ciudad de Buenos Aires y por el Ministerio del Interior Nacional y puede apostillarse en el Ministerio de Relaciones Exteriores Nacional.
				        </li>
						<li>
				            Presencia física y presencia virtual sincrónica o asincrónica (a demanda).
				        </li>
						<li>
				            Da equivalencias para presencia física.
				        </li>
					</ol>
					<hr>
					<br>
					<h5>Certificación oficial</h5>
					<p>El <b>IANCA</b> se encuentra autorizado para el dictado de actividades de formación, perfeccionamiento y actualización ante:</p>
					<ul class="about-list" style="margin-left:20px">
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Ministerio de Justicia y Derechos Humanos de la Nación, Dirección de Mediación y de Promoción de Métodos Participativos de Justicia, para Mediadores y Conciliadores, con el Número 1 de Entidad Formadora (Disposición Número 4 de 1.998). Nivel Universitario y Certificados oficiales)
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Gobierno de la Ciudad de Buenos Aires, Ministerio de Educación. Dirección General de Educación de Gestión Privada, Registro “C” Número 457 de Institutos Privados de Perfeccionamiento Docente. Nivel Terciario y Certificados Oficiales.
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Gobierno de la Provincia de Buenos Aires, Dirección General de Cultura y Educación, Red Federal de Formación Docente Continua, Registro de Instituciones Oferentes, Número de Acreditación d2 - 0000 82. Nivel Terciario.
				        </li>
					</ul>
					<hr>
					<br>
					<h5>Consultas IANCA:</h5>
					<ul class="about-list" style="margin-left:20px">
						<li>
				            <i class="fa fa-check-square-o"></i>
				             Fragata Presidente Sarmiento 46, Ciudad Autónoma de Buenos Aires.
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Teléfono (54 11) 2054-1499
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Horario de atención: 10 a 18 horas de lunes a viernes.
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            E-Mail: info@ianca.com.ar
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Sitio Web: <a href="http://www.iancanegocyar.com.ar">http://www.iancanegocyar.com.ar</a>
				        </li>
					</ul>
					<hr>
					<br>
					<h5>Cursos NO Programados</h5>
					Para aquellas personas u organizaciones que deseen realizar actividades que no están programadas entre las publicadas o que les resulte imposible asistir existen las siguientes posibilidades:
					<ul class="about-list" style="margin-left:20px">
						<li>
				            <i class="fa fa-check-square-o"></i>
				             Inscribirse en listas del IANCA a los fines de cubrir los cupos mínimos que justifiquen la realización de la actividad, enviando e-mail a info@ianca.com.ar
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Armando grupos con un mínimo de 12 personas.
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Dictado especial para organizaciones con programas adaptados a sus requerimientos.
				        </li>
					</ul>
					<hr>
					<br>
					<h5>Detalle de cursos por temática:</h5>
					<ul class="about-list" style="margin-left:20px">
						<li>
				            <i class="fa fa-check-square-o"></i>
				             Autorresguargo y Seguridad Personal (Asaltos, toma de rehenes, secuestros, etcétera)
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Mediación, Conciliación y Arbitraje (Administración  y resolución de conflictos)
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Negociación Comercial, Familiar, Financiera, Comunitaria, Laboral
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Probatión y Delictiva
				        </li>
						<li>
				            <i class="fa fa-check-square-o"></i>
				            Miscelenias (Varios, Económicos y Financieros)
				        </li>
					</ul>
					<hr>
					<br>
					<p>Cada una de las asignaturas, o el curso de postgrado, puede ser dictado en exclusividad para el personal de organizaciones o los matriculados profesionales, adaptándose a las necesidades específicas del grupo, tales como los objetivos a alcanzar, profundización de ciertos temas, horarios, lugar, etcétera.
					<br>
					<br>
					<a href="{{ path('contacto') }}">Contáctese</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- Actividades section end-->
{% endblock %}
