{% extends 'base.html.twig' %}

{% block body %}
    <!-- Reglamento de terciación section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>REGLAMENTO DE TERCIACIÓN</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>Este reglamento contiene las normas para administrar las mediaciones o conciliaciones y los arbitrajes.</p>
                    <p>A continuación es incluido el Reglamento de Terciación del IANCA - Instituto Argentino de Negociación, Conciliación y Arbitraje, aprobado por Comisión Directiva el 26 de agosto de 1.992, con las modificaciones del 11 de octubre de 1.995, 9 de octubre de 1.997, 14 de mayo de 2.008, 18 de junio de 2.008, 7 de noviembre de 2.016.</p>
                    <p><b>I. Objeto</b></p>
                    <p><b>Artículo 1º.-</b> El IANCA —Instituto Argentino de Negociación, Concilia­ción y Arbitraje— tiene como objeto fomentar la administración de disputas y el acuerdo entre partici­pantes que se encuentran imposibilitados de alcanzarlos por sus pro­pios medios, y para lo cual requieren de una solución equitativa, amigable y rápida.</p>
                    <p><b>Artículo 2º.-</b> La labor de mediación y/o de conciliación procura el acercamiento entre los participantes, y sugiere posibles soluciones —a sus leal saber y en­tender—, pero la decisión queda en los participantes.</p>
                    <p><b>Artículo 3º.-</b> La labor de arbitraje (amigable componedor o de equidad) procura el acercamiento de los participantes y emite un laudo que es de acata­miento obligatorio por las mismas.</p>
                    <p><b>II. Cuestión Involucrada</b></p>
                    <p><b>Artículo 4º.-</b> Los responsables designados para actuar como terciadores (mediadores, conciliadores o árbitros) en el procedimiento deberán ser integrantes de los Registros del IANCA, con conocimiento afín a la cuestión involucrada en la disputa.</p>
                    <p><b>Artículo 5º.-</b> En el caso que los participantes no se pongan de acuerdo sobre las cuestiones en conflicto, el terciador arbitrará los medios a tal fin notificando a los participantes.</p>
                    <p><b>Artículo 6º.-</b> No será admitido recurso alguno contra las resoluciones definitivas laudadas por los árbitros o contra el proceso arbitral.</p>
                    <p><b>III. Terciador</b></p>
                    <p><b>Artículo 7º.-</b> Para poder ser designado terciador es menester estar inscripto en el registro respectivo y no encontrarse privado del ejercicio de los derechos del IANCA, y aceptar el cargo para el que fue designado. Los terciadores son designados por los participantes, y en el caso que no los designen o que no se logre designar al presidente del tribunal se sorteará entre los del registro.</p>
                    <p><b>Artículo 8º.-</b> El terciador puede ser removido por las siguientes causas:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                mal desempeño de sus funciones,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                desorden de conducta,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                negligencia reiterada que dilate tramitación del proceso,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                ineptitud,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                 violación a las normas sobre incompatibilidad —salvo aceptación expresa de los participantes—, haber sido sancionado por el IANCA, y/o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                 haber sido sancionado por el IANCA, y/o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                comisión de delitos cuyas penas afecten su buen nombre y honor.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 9º.-</b> Los participantes pueden recusar con causa al terciador dentro del tercer día de haber sido notificado el mismo.</p>
                    <p><b>Artículo 10º.-</b> En el caso que la terciación se realice por medio de un equipo de varios responsables, designarán entre ellos un presidente, y en caso de no haber acuerdo se sorteará entre los propuestos, el que tendrá doble voto en caso de empate.</p>
                    <p><b>IV. Procedimiento General</b></p>
                    <p><b>Artículo 11º.-</b> Las actuaciones se realizan en el idioma Castellano y en el domicilio que fije el terciador.</p>
                    <p><b>Artículo 12º.-</b> Si los involucrados no establecieran plazos para la mediación o la conciliación se dará por finalizada si en un plazo de 5 días hábiles no existiera comparecencia de uno de los participantes, que haya sido notificado en el domicilio constituido en el pacto de terciación.</p>
                    <p><b>Artículo 13º.-</b> En las labores de conciliación y de mediación no se fija procedimiento formal alguno.</p>
                    <p><b>Artículo 14º.-</b> El arbitraje de equidad no está sujeto a reglas formales, debiéndose respetar el principio de defensa en juicio y de bilateralidad procesal, no estando sujeto a otras reglas formales.</p>
                    <p><b>Artículo 15º.-</b> En ninguno de los procesos se requiere en forma obligatoria el patrocinio letrado, pero en todos debe asistir —por cada participante— la persona directamente afectada o un representante con poder suficiente de transacción.</p>
                    <p><b>Artículo 16º.-</b> Para todos los plazos se computarán únicamente los días hábi­les judiciales.</p>
                    <p><b>Artículo 17º.-</b> Es facultad del árbitro o equipo arbitral disponer traslado de las peti­ciones que, formulen los participantes salvo la demanda y la reconvención. En el caso de darse traslado el plazo será de tres días hábiles. El peticio­nante deberá dejar original para el terciador y una copia para cada una de los otros participantes.</p>
                    <p><b>Artículo 18º.-</b> No se admitirá la deducción de cuestiones previas ni in­cidencias, las cuales deberán ser objeto en todos los casos puntos ex­presos del compromiso que celebran los participantes. Exceptuándose las cues­tiones atinentes a excepciones de incompetencia o caducidad de la ac­ción, que deberán interponerse en oportunidad de contestar la demanda.</p>
                    <p><b>Artículo 19º.-</b> Los participantes conocen y aceptan el presente reglamento y demás normas del IANCA complementarias o supletorias vigentes al iniciarse el proceso y no les será admi­tido recurso o cuestión alguna que se funde en el desconocimiento de tales disposiciones.</p>
                    <p><b>Artículo 20º.-</b> El procedimiento del arbitraje corresponde al árbitro (o al presidente del equipo de terciación), que tiene las facultades de dirigirlo pudiendo:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                resolver todas las incidencias que se promuevan durante la substanciación del proceso arbitral,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                amonestar y apercibir a los participantes, sancionar cuando los participantes dificulten el desenvolvimiento regu­lar de las actuaciones o no cumplan con los actos procesales que deban realizar,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                ordenar la recepción de pruebas y el diligenciamiento de la ofre­cida por los participantes.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 21º.-</b> Los participantes constituirán domicilio en la misma localidad que establezca el árbitro, y la informarán en el primer escrito que presente.</p>
                    <p><b>Artículo 22º.-</b> Las notificaciones se verificarán con la firma del árbi­tro —o presidente del equipo— o por el medio que éste disponga, en el domicilio constituido.</p>
                    <p><b>Artículo 23º.-</b> Se tendrá por abandonada la instancia arbitral y será de­clarada su caducidad a petición de participante y previa substanciación, me­diante inactividad procesal de la contraria durante veinte días.</p>
                    <p><b>Artículo 24º.-</b> La demanda arbitral será por escrito y especificará:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Denominación y domicilio constituido del participante, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Hechos y cuestiones en que se fundan los aspectos que en princi­pio deberán integrar el compromiso arbitral.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 25º.-</b> Presentada la demanda arbitral sé da­rá traslado a los otros participantes para que las contesten dentro de los cinco días, bajo apercibimiento de no poder hacerlo en el futuro.</p>
                    <p><b>Artículo 26º.-</b> En el mismo escrito de contestación de las peticiones sé de­berá deducir reconvención, si lo estimare pertinente, no pudiendo de­ducirla posteriormente, y se dará traslado a los participantes.</p>
                    <p><b>Artículo 27º.-</b> Una vez contestadas las peticiones, el árbitro podrá convocar a los participantes a una audiencia de conciliación para procurar el aveni­miento de las mismas, en el caso de no llegarse a una solución, el ár­bitro puede reunirse en otras oportunidades con uno o ambos participantes.</p>
                    <p><b>Artículo 28º.-</b> El árbitro puede laudar sin re­cepción de pruebas y/o peticiones de los participantes, siempre que hayan perdido el derecho a hacerlo.</p>
                    <p><b>Artículo 29º.-</b> Podrán ser admitidas todo tipo de pruebas. En ca­so de incomparecencia del testigo a la audiencia que se lo cite, sé per­derá el derecho a esa prueba.</p>
                    <p><b>Artículo 30º.-</b> El árbitro elegirá libremente la forma de investigación, análisis y decisión, guiado por los principios de imparcialidad, equidad, ética y buena fe.</p>
                    <p><b>Artículo 31º.-</b> Las personas físicas comparecerán por sí, y las personas jurídicas por medio de sus repre­sentantes legales o apoderados debidamente acreditados. En ambos casos pueden ser asistidos por asesores.</p>
                    <p><b>Artículo 32º.-</b> El árbitro podrá, de oficio, ordenar medidas para mejor proveer que estime necesarias para la dilucidación de la causa, con notificación a los participantes.</p>
                    <p><b>V. Laudo Arbitral</b></p>
                    <p><b>Artículo 33º.-</b> El laudo deberá versar sobre todas las causas sometidas a la decisión, actuando los árbitros como jueces de conciencia y conforme a su leal saber y entender, sin sujetarse a formas legales. El laudo y el expediente de las actuaciones están reservadas únicamente a la consulta de los participantes y es privado. Cuando no se haya establecido plazo para laudar el árbitro —o equipo de arbitraje— dispondrá de 10 días desde el período de presentación de pruebas.</p>
                    <p><b>Artículo 34º.-</b> El laudo contendrá pronunciamiento expreso so­bre la imposición de costas, su monto y condenaciones accesorias a que hubiere lugar, salvo expresa disposición en contrario en el com­promiso arbitral.</p>
                    <p><b>Artículo 35º.-</b> Producido el laudo, se citará a los participantes para que se notifiquen de su contenido. Si no comparecieran dentro de los cinco días, la notificación les será hecha en el domicilio constituido (físico o electrónico). Si el laudo arbitral debe ser producido en una fecha determinada, y fehacientemente informada a los participantes, no es menester la notificación a los mismos.</p>
                    <p><b>Artículo 36º.-</b> Una vez pronunciado y notificado el laudo termina la fun­ción del árbitro, no obstante podrá:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                aclarar los términos que le soliciten los participantes, dentro de los tres días,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                determinar las liquidaciones o cumplimiento de los asuntos en conflicto.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 37º.-</b> Contra el laudo arbitral no se admitirá recurso alguno. Solamente cabe en una instancia arbitral superior solicitar su nulidad por vía de acción, si hubiera sido expresado fue­ra de los términos previstos en el compromiso, y dentro de los cinco días de notificado o puesto a disposición de los participantes en forma fehaciente.</p>
                    <p>En el caso que las partes pactaron la apelabilidad del laudo, también se puede recurrir a una instancia arbitral superior.</p>
                    <p>Los recursos, que las partes convengan contra el laudo o el proceso arbitral, salvo el de aclaratoria que se plantea ante el mismo tribunal, se plantearan ante el International Supreme Council of Commercial Arbitration (ISCCA), y son definitorios.</p>
                    <p><b>Artículo 38º.-</b> El laudo arbitral se dictará por escrito, por unanimidad o mayoría de votos, y en caso de existir árbitro(s) por la minoría deberá(n) fundar su voto.</p>
                    <p><b>Artículo 39º.-</b> El árbitro (o el cuerpo colegiado) tendrá la facultad de fundar su decisión en razones de equidad y sentido común, de acuerdo con sus íntimas convicciones.</p>
                    <p><b>Artículo 40º.-</b> El laudo tendrá la autoridad y eficacia de la cosa juz­gada, a fin de que pueda ejecutarse por ante la Justicia que tenga ju­risdicción y competencia para el trámite de ejecución de la senten­cia.</p>
                    <p><b>VI. Sanciones</b></p>
                    <p><b>Artículo 41º.-</b> El árbitro podrá apercibir y/o separar de la in­tervención en el proceso arbitral a los apoderados, representantes, especialistas o ayudantes de un participante que obstaculicen la marcha nor­mal de las actuaciones con peticiones o posiciones improcedentes, o que deliberadamente incurran en demoras injustificadas.</p>
                    <p><b>VII. Cumplimiento</b></p>
                    <p><b>Artículo 42º.-</b> El laudo arbitral debidamente notificado debe ser cumpli­do por los participantes en el plazo previsto en el mismo.</p>
                    <p><b>Artículo 43º.-</b> Dentro de los plazos establecidos en el laudo, los par­ticipantes deberán abonar los gastos, honorarios, costos y costas del proce­so arbitral en su totalidad o la parte que le corresponda.</p>
                    <p><b>Artículo 44º.-</b> En caso de no cumplirse con el plazo sin haber hecho efectivas tales obligaciones, se aplicarán sanciones a criterio del árbitro, que no podrán exceder el diez por ciento del monto en conflicto, más el cargo por intereses de tasa activa del Banco de la Nación Argentina para descubiertos, por cada día de demora, sobre los montos incumplidos. Además en todas las acciones de acuerdos o laudos incumplidos se aplicarán sanciones del tipo de las establecidas en la Ley 24.240, en su artículo 40 bis, incluso en las cuestiones que no sean entre consumidores y proveedores para resarcir al damnificado.</p>
                    <p><b>Artículo 44 bisº.-</b> En el caso de incumplimiento de lo acordado en mediación podrá ejecutarse ante el juez, mediante el procedimiento de ejecución de sentencia regulado para el proceso judicial de la jurisdicción que corresponda al lugar de celebración del acuerdo. Cuando se hubiere realizado la mediación con todos los involucrados y no se hubiere llegado a un acuerdo la misma sustituye a la prejudicial por lo que habilita para recurrir directamente a la instancia judicial.</p>
                    <p><b>VIII. Honorarios</b></p>
                    <p><b>Artículo 45º.-</b> Los honorarios de arbitraje —cuando interviene un único árbitro— serán del el dos por ciento (2%) del monto mayor entre el reclamado originalmente o del laudado, para el árbitro, y será considerado como una costa del proceso. En el caso de constituirse un equipo de árbitros se incrementará el uno por ciento (1%) por cada árbitro adicional. Al iniciar el proceso el reclamante deberá adelantar el uno por ciento (1%) para atender los costos del Tribunal Arbitral, al finalizar el proceso si existe excedente se imputará para los honorarios, y en caso de ser insuficientes deberá cubrirlos a medida que se produzcan los costos.</p>
                    <p><b>Artículo 46º.-</b> En los casos de arbitraje el monto mínimo será de mil dólares estadounidenses (u$s1.000) cuando actúe un árbitro, más setecientos dólares estadounidenses (u$s700) por cada árbitro adicional que conforme el equipo. Estos montos se abonarán aun en caso de incomparecencia.</p>
                    <p><b>Artículo 47º.-</b> Para la mediación los honorarios son por hora de reunión, con un mínimo de 4 horas, siendo su valor mínimo de cien dólares estadounidenses (u$s120) cada hora.</p>
                    <p><b>IX. Cuestiones No Previstas</b></p>
                    <p><b>Artículo 48º.-</b> Para resolver cualquier punto no previsto en el presente reglamento se aplicará el criterio del árbitro, quien podrá consultar pautas a la Comisión Directiva del IANCA.</p>
                    <p><b>X. EXPERTOS</b></p>
                    <p><b>Artículo 49º.-</b> El árbitro puede recurrir al auxilio de expertos.</p>
                    <p><b>Artículo 50º.-</b> Los participantes resolverán la forma en que abonaran los honorarios de los mismos, y en caso de indefinición o de discrepancia los honorarios de los expertos se abonarán por partes iguales.</p>
                    <p><b>XI. Designación de Terciadores o de Expertos</b></p>
                    <p><b>Artículo 51º.-</b> La designación de los terciadores es de común acuerdo entre los participantes, pero en el caso en que los mismos no lo definan o cuando no haya acuerdo para ello la designación se hará por las pautas indicadas en los artículos siguientes.</p>
                    <p><b>Artículo 52º.-</b> Cuando es menester un único terciador o experto, se proponen o sortean tantos candidatos del registro, con el perfil requerido, como participantes, más uno, pudiendo ponerse de común acuerdo los participantes en su designación, pero en caso de no llegarse a un acuerdo cada participante debe descartar a un candidato por vez, de manera tal que el designado es el único no descartado.</p>
                    <p><b>Artículo 53º.-</b> Cuando se requiere un equipo de terciación se proponen o sortean tantos candidatos del registro, con el perfil requerido, como participantes, más la cantidad de componentes que es menester para el equipo, pudiendo ponerse de común acuerdo los participantes en su designación, pero en caso de no llegarse a un acuerdo cada participante debe descartar a un candidato por vez, de manera tal que los designados son los únicos no descartados. Siendo el presidente designado de común acuerdo entre los participantes, entre los candidatos designados, y si estos no se ponen de acuerdo lo harán los componentes del equipo, y en caso de mantenerse la discrepancia se designará por sorteo.</p>
                    <p><b>Artículo 54º.-</b> En caso de exclusión o desaparición de un terciador, el reempla­zo deberá designarse de la misma forma en que se decidió la designación del reemplazado.</p>
                    <p><b>Artículo 55º.-</b> Cuando un asunto requiere una nueva terciación, el terciador o el equipo será el mismo que actúo en la terciación original, salvo expresa decisión de alguna de los participantes para que se haga(n) nueva(s) designación(es).</p>
                    <p><b>Artículo 56º.-</b> En el caso que se haya previsto una mediación o conciliación sucedida por un arbitraje, el árbitro será el mismo mediador o conciliador, salvo expresa decisión de alguna de los participantes para que se haga(n) nueva(s) designación(es).</p>
                    <p><b>XII. Documentación</b></p>
                    <p><b>Artículo 57º.-</b> Las notificaciones, comunicaciones, posiciones, laudo, documentos, notas presentadas por los participantes, deberán ser acompañados por tantas copias como participantes haya, más una para cada terciador.</p>
                    <p><b>Artículo 58º.-</b> Los expedientes de terciación quedan en custodia del terciador o del presidente del equipo, y únicamente podrán ser consultados por los participantes o sus representantes en el local y horario que se indique. Únicamente será entregado ante requerimiento judicial, excluyendo las registraciones de tipo confidencial.</p>
                    <p><b>XIII. Prescripción</b></p>
                    <p><b>Artículo 59º.-</b> Los plazos de prescripción se suspenden desde el comienzo de la terciación hasta su culminación.</p>
                    <p><b>XIV. Plazos, Responsables y Notificaciones</b></p>
                    <p><b>Artículo 60º.-</b> Los plazos para el desarrollo de cada etapa de los procesos de terciación son en días máximos, pero los participantes de común acuerdo pueden establecer otros en forma explícita. Estos plazos pueden ser ampliados por los participantes de común acuerdo o a criterio del terciador.</p>
                    <p><b>Artículo 61º.-</b> En la tabla siguiente se dan los plazos máximos para el proceso de mediación o conciliación:
                        <table border="1" cellspacing="2" cellpadding="5">
                          <tr>
                            <th style="background-color:LightGrey">
                              Etapa
                            </th>
                            <th style="background-color:LightGrey">
                              Plazo
                            </th>
                            <th style="background-color:LightGrey">
                              Desde
                            </th>
                            <th style="background-color:LightGrey">
                              Responsable
                            </th>
                            <th style="background-color:LightGrey">
                              Notificación
                            </th>
                          </tr>
                          <tr>
                            <td>
                              Designación de terciador de común acuerdo
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Recepción de lista de terciadores
                            </td>
                            <td>
                              Participantes conjuntamente
                            </td>
                            <td>
                              Al recibir listado
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Designación a requerimiento del reclamante
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Notificación a reclamado para que designen terciador
                            </td>
                            <td>
                              IANCA
                            </td>
                            <td>
                              Al reclamado en domicilio que figura en compromiso de terciación y al reclamante al solicitar el proceso
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Aceptación del terciador
                            </td>
                            <td>
                              2 días
                            </td>
                            <td>
                              Notificación al terciador
                            </td>
                            <td>
                              IANCA
                            </td>
                            <td>
                              Al terciador
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Recusación con causa
                            </td>
                            <td>
                              3 días
                            </td>
                            <td>
                              Notificación de designación
                            </td>
                            <td>
                              IANCA
                            </td>
                            <td>
                              Autonotificación de participantes desde fecha prevista de aceptación del terciador.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Primera reunión de terciación
                            </td>
                            <td>
                              7 días
                            </td>
                            <td>
                              Aceptación del cargo de terciador
                            </td>
                            <td>
                              Terciador de fijar cita y participantes de autonotificarse
                            </td>
                            <td>
                              Autonotificación de participantes desde fecha prevista de designación del terciador
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Terminación del proceso por incomparecencia
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Cita a primera reunión de terciación si existe incomparencia
                            </td>
                            <td>
                              Terciador e incompareciente
                            </td>
                            <td>
                              Innecesaria
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Terminación del proceso por no lograrse el acuerdo
                            </td>
                            <td>
                              10
                              días
                            </td>
                            <td>
                              Fecha de primera reunión de terciación si hubo comparecencia
                            </td>
                            <td>
                              Terciador
                            </td>
                            <td>
                              Innecesaria
                            </td>
                          </tr>
                        </table>
                    </p>
                    <p><b>Artículo 62º.-</b> En la tabla siguiente se detallan los plazos máximos para el proceso de arbitraje:
                        <table border="1" cellspacing="2" cellpadding="5">
                          <tr>
                            <th style="background-color:LightGrey">
                              Etapa
                            </th>
                            <th style="background-color:LightGrey">
                              Plazo
                            </th>
                            <th style="background-color:LightGrey">
                              Desde
                            </th>
                            <th style="background-color:LightGrey">
                              Responsable(s)
                            </th>
                            <th style="background-color:LightGrey">
                              Notificación
                            </th>
                          </tr>
                          <tr>
                            <td>
                              Designación del árbitro de común acuerdo
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Recepción de lista de árbitros
                            </td>
                            <td>
                              Participantes conjuntamente
                            </td>
                            <td>
                              Al recibir listado, no siendo necesaria si el árbitro es el mismo mediador o conciliador
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Designación a requerimiento del reclamante
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Notificación a reclamado para que designen árbitro
                            </td>
                            <td>
                              IANCA
                            </td>
                            <td>
                              Al reclamado en domicilio que figura en compromiso de terciación y al reclamante al solicitar el proceso, no siendo necesaria si el árbitro es el mismo mediador o conciliador
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Aceptación del terciador
                            </td>
                            <td>
                              2 días
                            </td>
                            <td>
                              Notificación al árbitro
                            </td>
                            <td>
                              IANCA
                            </td>
                            <td>
                              Al árbitro
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Presentación de demanda arbitral
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Aceptación del árbitro
                            </td>
                            <td>
                              Árbitro y reclamado
                            </td>
                            <td>
                              Autonotificación en fecha prevista de presentación de demanda
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Contestación de demanda
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Notificación de la presentación de la demanda arbitral
                            </td>
                            <td>
                              Árbitro y reclamante
                            </td>
                            <td>
                              Autonotificación en fecha prevista de contestación de demanda o programa arbitral acordado
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Audiencia de conciliación
                            </td>
                            <td>
                              5 días
                            </td>
                            <td>
                              Notificación de la contestación de la demanda
                            </td>
                            <td>
                              Árbitro
                            </td>
                            <td>
                              Autonotificación en fecha de contestación de demanda o programa arbitral acordado
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Presentación de pruebas
                            </td>
                            <td>
                              10 días
                            </td>
                            <td>
                              Contestación de demanda
                            </td>
                            <td>
                              Participantes
                            </td>
                            <td>
                              Innecesaria
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Laudo arbitral
                            </td>
                            <td>
                              10 días
                            </td>
                            <td>
                              Plazo de presentación de pruebas
                            </td>
                            <td>
                              Árbitro
                            </td>
                            <td>
                              Autonotificación en fecha prevsista o del programa arbitral acordado
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Pedido de aclaraciones
                            </td>
                            <td>
                              3 días
                            </td>
                            <td>
                              Laudo arbitral
                            </td>
                            <td>
                              Peticionante
                            </td>
                            <td>
                              Autonotificación
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Aclaraciones
                            </td>
                            <td>
                              3 días
                            </td>
                            <td>
                              Solicitud de aclaraciones
                            </td>
                            <td>
                              Árbitro
                            </td>
                            <td>
                              Autonotificación en fecha prevista o programa arbitral acordado
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Apelación en el caso de preverse la recurribilidad
                            </td>
                            <td>
                              3 días
                            </td>
                            <td>
                              Laudo arbitral
                            </td>
                            <td>
                              Participante
                            </td>
                            <td>
                              Innecesaria
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Abandono de instancia arbitral
                            </td>
                            <td>
                              20 días
                            </td>
                            <td>
                              Último acto procesal
                            </td>
                            <td>
                              Participante
                            </td>
                            <td>
                              Innecesaria
                            </td>
                          </tr>
                        </table>
                    </p>
                    <p><b>Artículo 63º.-</b> Se tienen los siguientes cursogramas como guía complementaria al presente reglamento:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Designación de terciador.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Proceso de mediación o conciliación.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Proceso de arbitraje.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Retribución.
                            </li>
                        </ul>
                    </p>
                    <h5>Anexo de Determinación de Monto de Honorarios y Distribución entre los Conflictuados</h5>
                    <p><b>a. Objetivos</b></p>
                    <p>La finalidad es determinar un sistema de administración de disputas que asegure una forma de distribución equitativa de los costos que ocasiona entre quienes deben abonarlos y que preserve al máximo la objetividad del terciador.</p>
                    <p>Otra meta es dar una limitación efectiva al monto de los mismos para que los afectados conozcan y puedan manejar sus valores.</p>
                    <p><b>b. Pautas generales</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Las mediaciones y los arbitrajes están considerados con relación a un único terciador, si en alguna de las etapas del proceso se requiere más de un terciador, ya sea por voluntad de los afectados o por necesidad del proceso, puede modificarse previo consentimiento.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                La cantidad de mediadores mínimos está dada por la cantidad de entidades o grupos representados, y la cantidad de horas fijadas cómo límite superior para el proceso de conciliación son las establecidas para la totalidad de los mediadores en la tabla siguiente, que implica unas 10 horas de cada mediador por cada par de grupos u organizaciones, independientemente de la forma en que los mismos contribuyan a su cancelación:
                                <table border="1" cellspacing="2" cellpadding="5">
                                  <tr>
                                    <th style="background-color:LightGrey">
                                      Cantidad de Grupos o Entidades
                                    </th>
                                    <th style="background-color:LightGrey">
                                      Límite superior de horas para<br>dar por concluido el proceso mediatorio
                                    </th>
                                    <th style="background-color:LightGrey">
                                      Cantidad de Mediadores
                                    </th>
                                  </tr>
                                  <tr>
                                    <td>
                                      2
                                    </td>
                                    <td>
                                      10
                                    </td>
                                    <td>
                                      1
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      3
                                    </td>
                                    <td>
                                      15
                                    </td>
                                    <td>
                                      1
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      4
                                    </td>
                                    <td>
                                      20
                                    </td>
                                    <td>
                                      2
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      5
                                    </td>
                                    <td>
                                      30
                                    </td>
                                    <td>
                                      3
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      Cada 1 adicional
                                    </td>
                                    <td>
                                      10 horas adicionales
                                    </td>
                                    <td>
                                      1 mediador adicional
                                    </td>
                                  </tr>
                                </table>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                La cantidad mínima de horas a facturar por cada mediador es de 4.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En caso de alcanzarse el límite superior de horas el mediador debe dar por finalizado el proceso, salvo expresa decisión de los afectados. En el caso de que existan afectados que decidan continuar más allá del límite de horas, y otros no estuvieran de acuerdo, las horas excedentes al límite superior estarán a cargo de aquellos que decidan seguir con el tratamiento.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En síntesis, la mediación puede finalizar por las siguientes causales:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Desacuerdo manifiesto entre los asistentes,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Acuerdo, total o parcial, o
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Por haber alcanzado el límite superior de horas, salvo decisión conjunta de los afectados de continuar o de asumir los costos una o varias de ellas.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                La mediación puede ser sucedida por un arbitraje en las siguientes situaciones:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Acuerdo de los participantes, para que se laude los asuntos pendientes de resolución,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Existencia de una cláusula compromisoria:
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        En los casos de desacuerdo manifiesto,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Cuando el acuerdo es parcial, por los aspectos pendientes, y/o
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        En caso de superarse el límite superior de horas sin obtener un acuerdo.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><b>c. Honorarios</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los honorarios de mediación tienen dos componentes básicos:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Valor hora de cada mediador: $ 200,00, con un mínimo básico de 4 horas por mediador, y
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Porcentaje del monto: 1% sobre, monto mínimo más la mitad de la diferencia entre el monto máximo y el mínimo.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los honorarios de arbitraje son:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Un mínimo de $ 1.000,=, y $ 700 por cada árbitro adicional.
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Porcentaje básico por un árbitro del monto del 2% sobre, monto mínimo más la mitad de la diferencia entre el monto máximo y el mínimo.
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Porcentaje adicional por cada árbitro adicional que conforme el tribunal del 1% sobre, monto mínimo más la mitad de la diferencia entre el monto máximo y el mínimo.
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Cuando no existiera monto se empleará en su reemplazo el sistema de honorarios de mediación.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><b>d. Principios para distribuir los costos del proceso</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los participantes pueden decidir voluntariamente la forma en que distribuirán los costos del proceso.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En el caso de que los afectados no lleguen a acordar la forma de solventar los gastos, se establece el siguiente sistema de distribución:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Un 20% se repartirá por partes iguales entre los disputantes,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        El 80% restante se distribuirá sobre la base de las siguientes proporciones:
                                        <ul class="about-list" style="margin-left:20px">
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                La diferencia entre el monto resultante de la terciación menos el monto mínimo sobre la diferencia entre el monto máximo menos el monto mínimo, que soportará el que adhiere al monto mínimo.
                                            </li>
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                La diferencia entre el monto máximo menos el monto resultante de la terciación sobre la diferencia entre el monto máximo menos el monto mínimo, que soportará el que adhiere al monto máximo.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p>Este esquema de distribución hace que quien más de beneficia más contribuya a solventar el proceso.</p>
                    <p>En el cuadro siguiente se visualiza este esquema de distribución.</p>
                    <p><img src="{{ asset('img/reglam1.gif') }}" alt=""></p>
                    <br>
                    <p><b>Simbología</b></p>
                    <p><img src="{{ asset('img/reglam3.gif') }}" alt=""></p>
                    <br>
                    <p><b>Cursograma de Designación de Terciador</b></p>
                    <p><img src="{{ asset('img/reglam2.gif') }}" alt=""></p>
                    <br>
                    <p><b>Cursograma de Proceso de Mediación o Conciliación</b></p>
                    <p><img src="{{ asset('img/reglam4.gif') }}" alt=""></p>
                    <br>
                    <p><b>Cursograma Proceso de Arbitraje</b></p>
                    <p><img src="{{ asset('img/reglam5.gif') }}" alt=""></p>
                    <br>
                    <p><b>Cursograma de Retribución</b></p>
                    <p><img src="{{ asset('img/reglam6.gif') }}" alt=""></p>
                </div>
			</div>
		</div>
	</section>
	<!-- Reglamento de terciación section end-->
{% endblock %}
